<template>
  <div>
    <div>
      <form @submit.prevent="submitForm">
        <div class="field">
          <div class="control">
            <textarea
              class="form-control"
              aria-label="With textarea"
              v-model="comment.body"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <br />
            <button class="btn btn-outline-secondary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: "CommentCreate",
  props: {
    postId: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      comment: {
        body: "",
        author: null,
        post: Number(this.postId),
      },
    };
  },
  methods: {
    async submitForm() {
      if (!this.comment.body) {
        return;
      }

      const result = await this.$store.dispatch("fetchMyProfile");
      if (result.status === 200) {
        this.comment.author = result.data;
      }

      const { success } = await this.$store.dispatch(
        "createComment",
        this.comment
      );

      if (success) {
        this.$router.go();
      }
    },
  },
};
</script>
