<template>
  <div>
    <hr />
    <div v-for="comment in commentsList" v-bind:key="comment.id">
      <CommentListItem v-if="author" :author="author" :comment="comment">
      </CommentListItem>
      <!--      <p>-->
      <!--        {{ comment.author.username }}:-->
      <!--        {{ comment.body }}-->
      <!--      </p>-->
      <!--      <p v-if="comment.children.length !== 0">-->
      <!--        <b>child</b> {{ comment.children[0].author.username }}-->
      <!--        {{ comment.children[0].body }}-->
      <!--      </p>-->

      <!--      DO NEXT PAGE CLICK      -->
    </div>
  </div>
</template>
<script>
import CommentListItem from "./CommentListItem";

export default {
  name: "CommentList",
  components: {
    CommentListItem,
  },
  props: {
    postId: {
      type: String,
      required: true,
    },
  },
  data() {
    const postID = this.postId ?? this.$route.params.postId;

    return {
      postID,
      commentsList: [],
      author: null,
    };
  },
  async mounted() {
    await this.fetchPostComments();
    await this.fetchProfile();
  },
  methods: {
    async fetchProfile() {
      if (!this.$store.state.isAuthenticated) {
        return;
      }

      const result = await this.$store.dispatch("fetchMyProfile");

      if (result.success) {
        this.author = result.data;
      }
    },
    async fetchPostComments() {
      const result = await this.$store.dispatch(
        "fetchCommentsList",
        this.postID
      );

      if (result.success) {
        this.commentsList = result.data.results;
      }
    },
  },
};
</script>
