<template>
  <button @click="testFunc">Test</button>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
    <div class="card-header">{{ comment.author.username }}</div>
    <div class="card-body">
      <p class="card-text">
        {{ comment.body }}
      </p>
      <p id="showScroll">1</p>
      <div
        v-if="author.username === comment.author.username"
        class="authoreditcomment"
      >
        Hello world
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CommentListItem",
  props: {
    comment: {
      type: Object,
      required: true,
      default: null,
    },
    author: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      rolled: false,
    };
  },
  async mounted() {
    await this.testFunc();
  },
  methods: {
    async testFunc() {
      // Check how to do it easier
      let windowRelativeBottom = document.documentElement.clientHeight;
      window.addEventListener("scroll", function () {
        if (
          Math.abs(document.documentElement.getBoundingClientRect().top) +
            103 >=
          windowRelativeBottom
        ) {
          setTimeout(() => {
            console.log(1);
            return 1;
          }, 1000);
        }
      });
    },
  },
};
</script>

<style scoped></style>
