<template>
  <div v-for="post in posts" v-bind:key="post.id">
    {{ post.title }}
    {{ post.body }}
  </div>
</template>
<script>
export default {
  name: "MyPosts",
  props: {
    username: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      posts: [],
      next: "",
      previous: "",
    };
  },
  async mounted() {
    await this.getPostByUsername();
  },
  methods: {
    async getPostByUsername() {
      const { data, success } = await this.$store.dispatch(
        "getPostByUsername",
        this.username
      );

      if (success) {
        this.posts = data.results;
      }
    },
  },
};
</script>
