<template>
  <div>
    <div v-if="post" class="post">
      <form @submit.prevent="submitForm">
        <div class="container">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Post title</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              v-model="post.title"
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              v-model="post.body"
            ></textarea>
          </div>
          <div class="field">
            <div class="control">
              <button class="btn btn-outline-warning">Edit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostEdit",
  props: {
    postId: {
      type: String,
      required: true,
      default: null,
    },
  },
  data() {
    const postID = this.postId ?? this.$route.params.postId;

    return {
      postID,
      post: null,
    };
  },
  async mounted() {
    await this.fetchPost();
  },
  methods: {
    async submitForm() {
      const result = await this.$store.dispatch("updatePost", {
        postID: this.postID,
        post: this.post,
      });

      if (result.success) {
        await this.$router.push("/");
      }
    },
    async fetchPost() {
      this.$store.commit("setIsLoading", true);
      const result = await this.$store.dispatch("getPost", this.postID);

      if (result.success) {
        this.post = result.data;
        this.$store.commit("setIsLoading", false);
      }
    },
  },
};
</script>

<style scoped></style>
