<template>
  <div>
    <form @submit.prevent="submitForm">
      <div class="container">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Post title</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            v-model="post.title"
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            v-model="post.body"
          ></textarea>
        </div>
        <div class="field">
          <div class="control">
            <button class="btn btn-outline-secondary">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "PostCreate",
  data() {
    return {
      post: {
        title: "",
        body: "",
        author: null,
      },
    };
  },
  methods: {
    async submitForm() {
      if (!this.post.body && !this.post.title) {
        return;
      }

      const { data, success } = await this.$store.dispatch("fetchMyProfile");
      if (success) {
        this.post.author = data;
      }

      const result = await this.$store.dispatch("createPost", this.post);
      if (result.success) {
        await this.$router.push("/");
      }
    },
  },
};
</script>
