<template>
  <br />
  <div class="test">
    <div class="row">
      <div class="col-sm-20">
        <div class="card">
          <div class="buttons" v-if="isMyPost">
            <button @click="deleteCurrentPost" class="btn btn-outline-danger">
              Delete
            </button>
            <router-link
              class="btn btn-outline-warning"
              :to="{
                name: 'PostEdit',
                params: { postId: post.id },
              }"
              >Edit
            </router-link>
          </div>
          <div class="card-body">
            <router-link
              class="card-title"
              :to="{
                name: 'PostDetail',
                params: { postId: post.id },
              }"
              >{{ post.title }}
            </router-link>
            <p class="card-text">
              {{ post.body }}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <br />
            <br />
            <div v-if="this.$store.state.isAuthenticated">
              <button @click="onLike" class="btn btn-outline-success">
                Like
              </button>
              {{ likes }}
              <button @click="onDiskLike" class="btn btn-outline-danger">
                Dislike
              </button>
              {{ dislikes }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostListItem",
  data() {
    return {
      content: this.post,
      likes: this.post.likes,
      dislikes: this.post.dislikes,
    };
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
    isMyPost: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    async deleteCurrentPost() {
      const { success, postId } = await this.$store.dispatch(
        "deletePost",
        this.post.id
      );

      if (success) {
        this.$emit("updateParent", {
          postId: postId,
        });
      }
    },
    async onLike() {
      const { data, success } = await this.$store.dispatch(
        "sendLike",
        this.post
      );

      if (success) {
        this.likes = data.likes;
        this.dislikes = data.dislikes;
      }
    },
    async onDiskLike() {
      const { data, success } = await this.$store.dispatch(
        "sendDisLike",
        this.post
      );

      if (success) {
        this.likes = data.likes;
        this.dislikes = data.dislikes;
      }
    },
  },
};
</script>
<style scoped></style>
