<template>
  <preLoader v-if="this.$store.state.isLoading" />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="test" v-for="post in posts" v-bind:key="post.id">
      <PostListItem
        :post="post"
        :is-my-post="isMyPosts"
        @updateParent="onUpdateSalary"
      ></PostListItem>
    </div>
  </div>
  <div>
    <br />
    <button v-if="next" @click="nextPage" class="btn btn-outline-secondary">
      NEXT
    </button>
  </div>
</template>

<script>
import PostListItem from "./PostListItem";
import preLoader from "../preloader/preLoader";

export default {
  name: "PostList",
  components: {
    PostListItem,
    preLoader,
  },
  props: {
    username: {
      type: String,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      posts: [],
      next: "",
      previous: "",
      isMyPosts: false,
    };
  },
  async mounted() {
    await this.fetchPosts();
    await this.fetchMyProfile();
  },
  methods: {
    async onUpdateSalary(someData) {
      for (let i = 0; i < this.posts.length; i += 1) {
        if (this.posts[i].id === someData.postId) {
          this.posts.splice(i, 1);
          break;
        }
      }
    },
    async nextPage() {
      const result = await this.$store.dispatch("getPostNextPage", this.next);

      if (result.success) {
        this.next = result.data.next;
        this.previous = result.data.previous;
        this.posts = [...this.posts, ...result.data.results];
      }
    },
    async fetchMyProfile() {
      if (!this.$store.state.isAuthenticated) {
        return;
      }

      const result = await this.$store.dispatch("fetchMyProfile");

      if (result.success) {
        if (result.data.username !== this.username) {
          return;
        }
        this.isMyPosts = true;
      }
    },
    async fetchPosts() {
      this.$store.commit("setIsLoading", true);
      const result = await this.$store.dispatch("getPostList", this.username);

      if (result.success) {
        this.next = result.data.next;
        this.previous = result.data.previous;
        this.posts = result.data.results;
        this.$store.commit("setIsLoading", false);
      }
    },
  },
};
</script>

<style scoped>
/* .pond {
  display: flex;
  justify-content: space-between;


TODO: DO IT AFTER OTHER STYLE SETTINGS
} */
</style>
