<template>
  <div class="container">
    <preLoader v-if="this.$store.state.isLoading" />
    <div v-if="!this.$store.state.isLoading">
      <div v-if="post">
        <img :src="post.image" />
        <p>
          {{ post.title }}
        </p>
        <p>
          {{ post.body }}
        </p>
        <p>
          <router-link
            class="card-author-username"
            :to="{
              name: 'Profile',
              params: { username: post.author.username },
            }"
            >{{ post.author.username }}
          </router-link>
        </p>
        <hr />
        <h3>Comments</h3>
        <CommentCreate
          v-if="this.$store.state.isAuthenticated"
          :postId="postID"
        ></CommentCreate>
        <CommentList :postId="postID"></CommentList>
      </div>
    </div>
  </div>
</template>
<script>
import CommentList from "../comment/CommentList.vue";
import CommentCreate from "../comment/CommentCreate.vue";
import preLoader from "../preloader/preLoader";

export default {
  name: "PostDetail",
  components: {
    CommentList,
    CommentCreate,
    preLoader,
  },
  props: {
    postId: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    const postID = this.postId ?? this.$route.params.postId;

    return {
      postID,
      post: null,
      author: null,
    };
  },
  async mounted() {
    await this.fetchPost();
  },
  methods: {
    async fetchPost() {
      this.$store.commit("setIsLoading", true);
      const result = await this.$store.dispatch("getPost", this.postID);

      if (result.success) {
        this.post = result.data;
        this.$store.commit("setIsLoading", false);
      }
    },
  },
};
</script>
