<template>
  <div>
    <div v-if="profile" class="profile">
      <form @submit.prevent="submitForm">
        <div class="container">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Profile Username</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput2"
              v-model="profile.username"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Profile Status</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              v-model="profile.status"
            />
          </div>
          <div class="field">
            <div class="control">
              <button class="btn btn-outline-warning">Edit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditProfile",
  data() {
    return {
      profile: null,
      profileId: null,
      username: "",
    };
  },
  async mounted() {
    await this.fetchMyProfile();
  },
  methods: {
    async submitForm() {
      const result = await this.$store.dispatch("updateMyProfile", {
        id: this.profileId,
        profile: this.profile,
      });

      if (result.success && result.data.username !== this.username) {
        await this.$store.dispatch("logout");
      } else if (result.success) {
        await this.$router.push("/");
      }
    },
    async fetchMyProfile() {
      if (!this.$store.state.isAuthenticated) {
        return;
      }

      const result = await this.$store.dispatch("fetchMyProfile");

      if (result.success) {
        this.profile = result.data;
        this.profileId = result.data.id;
        this.username = result.data.username;
        delete this.profile.image;
        delete this.profile.id;
      }
    },
  },
};
</script>

<style scoped></style>
