<template>
  <div class="container" v-if="user">
    <img v-if="user.image" :src="user.image" />
    <img
      v-else-if="!user.image"
      src="http://127.0.0.1:8000/media/standart-profile.jpeg"
    />
    {{ user.status }}
    {{ user.username }}
    {{ user.id }}
    <p v-if="user.email">
      {{ user.email }}
    </p>
    <br />
    <br />
    <router-link
      class="btn btn-outline-secondary"
      v-if="user.username"
      :to="{
        name: 'MyPosts',
        params: { username: user.username },
      }"
      >Posts</router-link
    >
    <button @click="deleteProfile" class="btn btn-outline-danger">
      Delete
    </button>
    <router-link
      class="btn btn-outline-warning"
      :to="{
        name: 'EditMyProfile',
      }"
      >Edit Profile</router-link
    >
  </div>
</template>
<script>
export default {
  name: "MyProfile",
  data() {
    return {
      user: {
        username: "",
        id: null,
        email: "",
      },
    };
  },
  async mounted() {
    await this.fetchMyProfile();
  },
  methods: {
    async deleteProfile() {
      const result = await this.$store.dispatch("deleteProfile", this.user.id);

      if (result.success) {
        await this.$store.dispatch("logout");
      }
    },
    async fetchMyProfile() {
      const { success, status, data } = await this.$store.dispatch(
        "fetchMyProfile"
      );
      if (status === 200 && success) {
        this.user = data;
      }
    },
  },
};
</script>
