<template>
  <div v-if="user">
    <img v-if="user.image" :src="user.image" />
    <img
      v-else-if="!user.image"
      src="http://127.0.0.1:8000/media/standart-profile.jpeg"
    />
    {{ user.username }}
    {{ user.email }}  
  </div>
</template>

<script>
export default {
  name: "Profile",
  props: {
    username: {
      type: String,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      user: null,
    };
  },
  async mounted() {
    await this.fetchProfile();
  },
  methods: {
    async fetchProfile() {
      const { data, success } = await this.$store.dispatch(
        "fetchProfile",
        this.username
      );

      if (success) {
        this.user = data[0];
      }
    },
  },
};
</script>
