<template>
  <div id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <router-link
                v-if="AuthState"
                to="/profile"
                class="nav-link active"
                aria-current="page"
                >Profile
              </router-link>
            </li>
            <li class="nav-item">
              <router-link v-if="AuthState" to="/post/create/" class="nav-link">
                Create Post
              </router-link>
            </li>
          </ul>
          <button
            class="btn btn-outline-secondary"
            v-if="AuthState"
            @click="logout"
          >
            Logout
          </button>
          <router-link
            v-if="!AuthState"
            to="/login"
            class="btn btn-outline-secondary"
            >Login</router-link
          >
        </div>
      </div>
    </nav>
  </div>
  <router-view />
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "App",
  computed: mapGetters(["AuthState"]),
  methods: {
    async logout() {
      await this.$store.dispatch("logout");
    },
  },
  async beforeCreate() {
    this.$store.commit("initializeBlog");

    const token = this.$store.state.accessToken;

    if (token) {
      axios.defaults.headers.common["Authorization"] = "Bearer " + token;
    } else if (this.$store.state.refreshToken && !token) {
      await this.$store.dispatch("getNewTokens");
      axios.defaults.headers.common["Authorization"] =
        this.$store.state.accessToken;
    } else {
      axios.defaults.headers.common["Authorization"] = "";
    }
  },
};
</script>
<style></style>
