<template>
  <div class="home">
    <post-list />
  </div>
</template>

<script>
import PostList from "../components/post/PostList.vue";
import {mapGetters} from "vuex";

export default {
  name: "Home",
  components: {
    PostList,
  },
  computed: mapGetters(["AuthState"]),
  methods: {
    async logout() {
      await this.$store.dispatch("logout");
    },
  },
};
</script>

<style scoped>
</style>
